@page "/"
@using System.IO
@using Microsoft.AspNetCore.Components.Forms
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<h3>&nbsp; &nbsp;Upload files</h3>
<p> &nbsp;&nbsp;  <InputFile OnChange="@(e=>OnInputFileChange(e))" multiple /></p>
&nbsp;&nbsp; <button @onclick="FileUpload">Upload All</button>
<h2>&nbsp; &nbsp;@status</h2>


@code{
    public string status { get; set; } = "Please Select Files to Upload!";
    IReadOnlyList<IBrowserFile> SelectedImage = Array.Empty<IBrowserFile>();
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        SelectedImage = e.GetMultipleFiles(Int32.MaxValue);
        status = "Ready!";
        StateHasChanged();
    }
    public async void FileUpload()
    {
        var imagesDir = "E:\\Fayez";
        Directory.CreateDirectory(imagesDir);

        foreach (var file in SelectedImage)
        {
            using var stream = file.OpenReadStream(Int64.MaxValue);
            var filePath = Path.Combine(imagesDir, Path.GetFileName(file.Name));
            using var fs = File.Create(filePath);
            await stream.CopyToAsync(fs);
        }
        status = "Done!";
        StateHasChanged();

    }
}